@import "app/globals";
.services{
  margin-top: 110px;
  @include adaptive-font(26, 18, 1360);
}
.navigation{
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  .link{
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    transition: all  ease-in 0.2s;
  }
}
.link.active{
  color: black;
  background-color: white;
}